<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace属性值与接口全限定名对应 -->
<mapper namespace="cn.com.dhc.telereport.mapper.RpCardSaleRecordTMapper">
    <!-- select元素表示定义一个查询语句，
            id属性值与接口中的方法名对应，
            resultType属性值指定实体类的全限定名
            parameterType属性值指定参数类型的全限定名-->
    <select id="selectByInfo" parameterType="cn.com.dhc.telereport.entity.RpCardSaleRecordT"
            resultType="cn.com.dhc.telereport.entity.RpCardSaleRecordT">
        SELECT id,city_code,product_code,sale_date,card_sale_amount,
        card_par_value_fee,record_operator,total_fee,discount_fee
        FROM rp_card_sale_record_t
        <where>
            <!-- 对于字符串来说既要判断null，也要判断空字符串 -->
            <!-- 在test属性中和＃{}中使用的是实体类（参数）中的数据域，不在这里的指的是表中的列名。 -->
            <if test="cityCode != null and cityCode != '' ">
                AND city_code=#{cityCode}
            </if>
            <if test="productCode != null and productCode != ''">
                AND product_code LIKE #{productCode}
            </if>
            <if test="saleDate!= null">
                AND TO_CHAR(sale_date,'YYYYMM')=TO_CHAR(#{saleDate},'YYYYMM')
            </if>
        </where>
    </select>
    <insert id="input" parameterType="cn.com.dhc.telereport.entity.RpCardSaleRecordT">
        insert into rp_card_sale_record_t(city_code,product_code,card_sale_amount,card_par_value_fee,sale_date)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="cardSaleAmount != null">
                #{cardSaleAmount,jdbcType=DECIMAL},
            </if>
            <if test="cardParValueFee != null">
                #{cardParValueFee,jdbcType=DECIMAL},
            </if>
            <if test="saleDate != null">
                #{saleDate},jdbcType=DATE}
            </if>
        </trim>
    </insert>
    <delete id="delete" parameterType="cn.com.dhc.telereport.entity.RpCardSaleRecordT">
           delete from rp_card_sale_record_t where id = #{id};
   </delete>
</mapper>